body {
  margin: 0 auto;
  max-width: 660px;
}

.auth-form {
  align-items: center;
  border: 1px solid $near-black;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
}

.board-background {
  margin: 0 auto 30px;
}

.credentials {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.reset-and-history {
  align-items: center;
  border-top: 3px solid $near-black;
  display: flex;
  justify-content: center;
  margin: 10px auto 0;
  padding: 25px 0 0;
}

.space {
  align-items: center;
  border: 1px solid $near-black;
  display: flex;
  height: 180px;
  justify-content: center;
}

.user-output {
  margin: 10px auto 0;
  text-align: center;
}
