body {
  margin: 0 auto;
  max-width: 660px;
}

.board-background {
  margin: 20px auto;
}

.credentials {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.space {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 200px;
  justify-content: center;
}

.user-output {
  margin: 10px auto 30px;
  text-align: center;
}
