@font-face {
  font-family: 'Indie Flower';
  src: url('../../public/IndieFlower.ttf') format('cursive');
}

$title-color: $dark-slate-gray;

.board {
  font-family: sans-serif, cursive;
  font-size: 10vmin;
}

.title {
  color: $dark-slate-gray;
  font-family: sans-serif;
  font-size: 10vmin;
  font-weight: bold;
}

@media (max-width: 414px) {
  .board {
    // font-size: 45px;
  }

  // .space {
  //   height: 100px;
  // }

  .standard {
    font-size: 12px;
  }

  .title {
    // font-size:
  }
}
